<div class="author">
  <a class="author-header" href="/about/">
    <img
      class="author-avatar"
      src="{{ site.author.avatar }}"
      alt="{{ site.author.username }}"
    />
    <h2 class="author-name">
      {{ site.author.name }}
    </h2>
  </a>
  <p class="author-bio">{{ site.author.bio }}</p>
  {%- for link in site.author.links -%}
  &nbsp;&nbsp;
  <a href="{{ link.url }}" title="{{ link.name }}" target="_blank">{{ link.name | downcase }}</a>
  &nbsp;&nbsp;
  {%- endfor -%}
</div>
